* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #d99c3a, #0066ff);
}

.wrap {
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}

.container {
    width: 100px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.button-select {
    background: #33cc33;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12em;
    color: aliceblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
    font-size: 1.5em;
    padding: 1em;
    border-radius: 8px;
    background-color: aqua;
    color: black;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}




