* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #d99c3a, #0066ff);
}

.wrap {
display:flex;

}

.board {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;

    

}

.button-select {
    background: #33cc33;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 8px;
    font-size: 12em;
    color: aliceblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
    font-size: 1em;
    padding: 1em;
    border-radius: 8px;
    background-color: aqua;
    color: black;
    border: none;
    position:fixed;
    margin: 1.5em auto 0 auto;
    display: block;
}




