* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #2199d9, hwb(264 3% 20%));
    justify-content: center;
}

h1 {
    text-align: center;
}


.wrap {
display:flex;

}

.board {
    margin-top: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;

    

}

.button {
    background: #33cc33;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 8px;
    font-size: 12em;
    color: aliceblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 1.0;
}

.button:hover {
    background-color: azure;
    opacity: 0.5;
}


#restartBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 100px;
    background-color: #33cc33;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    align-items: center;

}

#restartBtn:hover {
    background-color: azure;
}





